/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.container {
    margin: 20px;

}
.background-primary {
    background-color: #512DA8 !important;
  }
.background-accent {
    background-color: #FFC107!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}
.mat-dialog-container {
padding: 0 !important;
}
.highlight {
    background-color: #DBC9DC;
    border: 1px solid #602464;
    z-index: 1;
    transform: scale(1.01);
}
